.wd-bookmark-title {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-right: -16px;
    margin-left: -16px;
  }
  
  .wd-title {
    display: block;
    font-size: 20px;
  }
  
  .wd-username {
    font-size: 13px;
    color: lightgray;
  }

  .wd-bookmarked {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    margin-left: -16px;
    margin-right: -16px;
    border-bottom: 1px solid var(--border-color);
  }
  
  .wd-bookmarked > * {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .wd-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .wd-tweet {
    margin-left: 12px;
  }
  
  .wd-actions {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .wd-main {
    font-size: 15px;
    max-width: 506px;
    margin-bottom: 12px;
  }
  
  .wd-tweet-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .wd-tweet-heading {
    display: inline-block;
    margin-top: 12px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 12px 12px 12px;
  }
  
  .wd-tweet-desc {
    display: inline-block;
    font-size: 15px;
    color: lightgray;
    padding: 0 12px 12px 12px;
  }
  
  .wd-tweet-section {
    max-width: 506px;
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .wd-items {
    padding: 0 5px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    margin-bottom: 10px;
  }
  
  .wd-icon-padding {
    margin-right: 12px;
  }
  
  .wd-heart-clicked {
    color: red;
  }